

div .form-group {
  margin-top: 0px;
  margin-bottom: 0px;
}


.detail-search-form {
  margin: 20px 50px 30px 20px;  /* top right bottom left  */
}

.form-group .input {
  height: 8px;
}

.flex-row {
  padding: 10px 0;
  display: flex;
}

.flex-equi-cell {
  flex: 1;
}

.main-form-cell {
  height: 300px;
}



/*
.form-group .label {
  margin-top: 0px;
  margin-bottom: 0px;

}



*/